#section_emergencia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .contatos_emergencia {
        width: 150px;
        height: 150px;
        margin: 10px 5px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
    }

   #div_emergencia {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
   }

   .link_fazer_chamada_emergencia {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
   }