#div_menu_principal {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#aba_notificacao {
    height: 20px;
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: space-between;
}

#simbolo_wifi {
    height: 20px;
}

#simbolo_bateria {
    display: flex;
}

    #menu_dropdown {
        position: absolute;
        left: 0;
        top: 100px;
        height: 400px;
        width: 100%;
    }

    #section_menu_principal {
        width: 80%;
    }

        #chamada_de_emergencia {
            background-color: #FF0000;
        }

        #meu_emprego {
            background-color: #0085FF;
        }

        #meu_perfil {
            background-color: #0085FF;
        }
    
    #necessidades_do_player {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

