#lista_empregos {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    #div_lista_empregos {
        height: 600px;
        display: flex;
        justify-content: center;
    }

    .item-emprego {
        margin: 15px 0px;
        min-height: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
        padding: 10px;
    }

.botao_emprego {
    background-color: green;
    border: 1px solid black;
    min-height: 50px;
    cursor: pointer;
}

