#lista_empregos {
    width: 80%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    #div_lista_empregos {
        display: flex;
        justify-content: center;
    }

    .item-emprego {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        min-height: 120px;
        justify-content: space-between;
        padding: 10px;
    }

.botao_emprego {
    background-color: black;
    border: 1px solid black;
    min-height: 50px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.sair {
    background-color: red;
}

