#footer {
    background-color: #DB00FF;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    bottom: 0;
    position: fixed;
    width: 100%;
}

    /* #div_menu {
        width: 70px;
        height: 70px;
        background-color: #DB00FF;
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;
    } */

        #menu {
            width: 70px;
            height: 70px;
            color: black;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 50px;
        }