.div_botao_aplicativo_emprego {
  width: 20%;
  height: 20%;
  cursor: pointer;
  border: 1px solid black;
}

  .div_botao_aplicativo_emprego {
    min-width: 30%;
    height: 100px;
    margin: 10px;
  }