.banco_page {
    height: 100vh;
    background-color: black;
}



    #section_saldo_disponivel {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
    }

        #texto_saldo_disponivel {
            color: #FF8A00;
            min-height: 70px;
            position: relative;
            left: 10px;
            top: 20px;
            font-weight: bold;
        }

        #valor_saldo_disponivel {
            color: #FF8A00;
            position: relative;
            left: 10px;
            min-height: 50px;
        }

    #carossel_opcoes_bancarias {
        border-top: 1px solid #FF8A00;
        border-bottom: 1px solid #FF8A00;
        padding: 50px;
    }

        #botao_link_pix {
            background-color: #FF8A00;
            padding: 30px;
            text-decoration: none;
            font-weight: bold;
            color: black;
        }