#div_aplicativos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#aplicativos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}